<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Menú Restaurante</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div class="container mt-4">

    <h1 class="text-center mb-4">MENÚ DEL RESTAURANTE</h1>

    <div class="mb-3">
        <a href="/categorias" class="btn btn-primary">
            Categorías
        </a>

        <a href="/comidas" class="btn btn-success">
            Comidas
        </a>
    </div>

    <table class="table table-bordered table-striped">

        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Platillo</th>
                <th>Precio</th>
                <th>Categoría</th>
            </tr>
        </thead>

        <tbody>

            <tr th:each="c : ${comidas}">
                <td th:text="${c.id}"></td>
                <td th:text="${c.nombre}"></td>
                <td th:text="${c.precio}"></td>
                <td th:text="${c.categoria.nombre}"></td>
            </tr>

        </tbody>

    </table>

</div>

</body>
</html>